BODY {
    background-color: gainsboro; /* цвет фона */
    font-family: Arial, Helvetica, sans-serif; /* шрифты */
}

TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
}
table.select {
    width: 60%; /* Ширина таблицы */
}
table.list {
    width: 60%; /* Ширина таблицы */
    background: rgb(242, 255, 241); /* Цвет фона ячейки */
}
TH, TD {
    border: 1px solid black; /* Параметры рамки */
    text-align: center; /* Выравнивание по центру */
    padding: 4px; /* Поля вокруг текста */
}
TH {
    background: #fc0; /* Цвет фона ячейки */
    height: 30px; /* Высота ячеек */
}
td.list-td {
    border: none;
    padding: 0 0.15em .5em 0.15em;
}
button.send {
    color: #125178;
    display:block;
    cursor:pointer;
    padding: 8px 8px;
    font-size:0.8em;
    border: 1px solid #888;
    border-radius:5px;
    width: 240px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    box-shadow: 4px 4px #ccc;
    background: rgb(230, 215, 187);
    background: radial-gradient(circle, rgba(230, 215, 187, 1) 0%, rgba(200, 195, 127 ,1) 80%, rgba(111, 141, 228, 0.625) 100%);
}
button.send:hover {
    background: radial-gradient(circle, rgba(230, 215, 187, 1) 0%, rgba(200, 195, 127, 1) 40%, rgba(111, 141, 228, 0.625) 100%);
}
.select-direct {
    width: 250px;
    height: 32px;
    border: 1px solid #999;
    font-size: 0.8em;
    color: #125178;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}
.txt {
    display:inline-block;
    color:#676767;
    width: 200px;
    margin-bottom:10px;
    border:1px solid #CCC;
    padding:5px 9px;
    font-size:15px!important;
    line-height:1.4em;
    border-radius:5px;
}
.txt:focus, .txtarea:focus {
    border-style:solid;
    border-color:#BABABA;
    color:#444;
}
input.error, textarea.error {
    border-color:#973D3D;
    border-style:solid;
    background:#F0BEBE;
    color:#A35959;
}
input.error:focus, textarea.error:focus {
    border-color:#973D3D;
    color:#A35959;
}
