<!DOCTYPE html>

<html>

<head>
    <title>create abiturient</title>
    <meta charset="utf-8" />
    <style>.field{width:200px;}</style>
</head>

<body>
    <h1>Добавить абитуриента</h1>
    <form method="POST">        
        <label>Имя</label><br>
        <input name="firstName" class="field" /><br><br>

        <label>Фамилия</label><br>
        <input name="lastName" class="field" /><br><br>
        
        <label>Рейтинг</label><br>
        <input name="rating" type="number" class="field" min="0" max="300" /><br><br>

        <label>Город</label><br>
        <input name="city" class="field" /><br><br>
        
        <input type="submit" value="Сохранить" />
    </form>
    <a href="/">На главную</a>
</body>

<html>