<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Заголовок страницы</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <link rel="shortcut icon" href="../public/images/favicon.ico" />
</head>

<body>
    <div class="wrapper">
    <div class="content">
        <ul id="navbar">
            <li><a href="./intro.html">Описание продукции</a></li>
            <li><a href="./feeds.html">Отзывы о продукции</a></li>
            <li><a href="./new_feed.html">Добавить отзыв</a></li>
        </ul>    

        <div class="desktop">
            <br>
            <h4>Название таблицы</h4>
            
            <table>
                <tr>
                    <th width="25%">Имя</th>
                    <th>Отзыв</th>
                </tr>
                
                <tr>
                    <td class="td">Имя</td>
                    <td class="td">Отзыв</td>
                </tr>
                <tr>
                    <td class="td">Имя</td>
                    <td class="td">Отзыв</td>
                </tr>
                <tr>
                    <td class="td">Имя</td>
                    <td class="td">Отзыв</td>
                </tr>
                
            </table>
        </div>

    </div>
    <div class="footer">
        <p class="footer-text">&copy; A.Belyakov</p>
    </div>
    </div>
</body>
</html>
