<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Заголовок страницы</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
    <link rel="shortcut icon" href="../public/images/favicon.ico" />
</head>
<body>
    <div class="wrapper">
    <div class="content">
    
        <ul id="navbar">
            <li><a href="./intro.html">Описание продукции</a></li>
            <li><a href="./feeds.html">Отзывы о продукции</a></li>
            <li><a href="./new_feed.html">Добавить отзыв</a></li>
        </ul>    

        <br>
        <p class="aligncenter">
            <img src="../public/images/nodejs.png" alt="logo">
        </p>

        <br><br>
        <div id="intro">
            <p class="intro">
                Как асинхронное событийное JavaScript-окружение, Node.js спроектирован для построения масштабируемых сетевых приложений. 
                Серверное приложение Node.js может одновременно обрабатывать много соединений. 
                Для каждого соединения вызывается функция обратного вызова, однако, когда соединений нет Node.js засыпает.
            </p>
            <p class="intro">
                Этот подход контрастирует с более распространенной на сегодняшний день моделью параллелизма, в которой используются параллельные OS потоки. 
                Такой подход является относительно неэффективным и очень сложным в использовании. 
                Кроме того, пользователи Node.js могут не беспокоиться о блокировках процессов, поскольку их не существует. 
                Почти ни одна из функций в Node.js не работает напрямую с I/O, поэтому поток никогда не блокируется. 
                В следствии этого на Node.js легко разрабатывать масштабируемые системы.
            </p>
        </div>
    
    </div>
    <div class="footer">
        <p class="footer-text">&copy; A.Belyakov</p>
    </div>
    </div>
</body>
</html>
